@page
@model UrbanFarmCOWeb.Pages.Dashboard.DashboardModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout"; // Pode definir o layout que preferir
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Dashboard</h2>
    <div>
        <a class="btn btn-success me-2" asp-page="/Dashboard/ExportExcel" asp-route-type="fornecedor">Exportar Fornecedores para Excel</a>
        <a class="btn btn-danger" asp-page="/Dashboard/ExportPdf" asp-route-type="fornecedor">Exportar Fornecedores para PDF</a>
    </div>
</div>

<p>Aqui você pode navegar pelo sistema:</p>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-primary btn-block" href="/Produtos/Index">Gerenciar Produtos</a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary btn-block" href="/Fornecedores/Index">Gerenciar Fornecedores</a>
        </div>
        @if (User.HasClaim(c => c.Type == "NivelAcesso" && c.Value == "1")) // Verifica o nível de acesso do usuário
        {
            <div class="col-md-4">
                <a asp-page="/Funcionarios/Index" class="btn btn-primary btn-block">Gerenciar Funcionários</a>
            </div>
        }
        else
        {
            <div class="col-md-4">
                <p class="text-danger">Você não tem permissão para acessar o Gerenciamento de Funcionários.</p>
            </div>
        }
        <div class="col-md-4 mt-3">
            <a class="btn btn-danger btn-block" href="/Login/Login">Logout</a>
        </div>
    </div>
</div>
