@page
@model UrbanFarmCOWeb.Pages.Produtos.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto.NomeProduto" class="control-label"></label>
                <input asp-for="Produto.NomeProduto" class="form-control" />
                <span asp-validation-for="Produto.NomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Categoria" class="control-label"></label>
                <input asp-for="Produto.Categoria" class="form-control" />
                <span asp-validation-for="Produto.Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Preco" class="control-label"></label>
                <input asp-for="Produto.Preco" class="form-control" />
                <span asp-validation-for="Produto.Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.Quantidade" class="control-label"></label>
                <input asp-for="Produto.Quantidade" class="form-control" />
                <span asp-validation-for="Produto.Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.FornecedorID" class="control-label"></label>
                <input asp-for="Produto.FornecedorID" class="form-control" />
                <span asp-validation-for="Produto.FornecedorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto.DataCadastro" class="control-label"></label>
                <input asp-for="Produto.DataCadastro" class="form-control" />
                <span asp-validation-for="Produto.DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
