@page
@model UrbanFarmCOWeb.Pages.Login.EsqueciSenhaModel

@{
    ViewData["Title"] = "Esqueci a Senha";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center my-4 animate__animated animate__fadeInDown">
                <h2>Esqueci a Senha</h2>
            </div>

            <form method="post" class="animate__animated animate__fadeInUp animate__delay-1s">
                <div class="form-group mb-3">
                    <label asp-for="Email" class="form-label">Informe seu Email</label>
                    <input asp-for="Email" type="email" class="form-control animate__animated animate__fadeIn animate__delay-2s" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary w-100 animate__animated animate__pulse animate__infinite">Enviar</button>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-secondary w-100 animate__animated animate__fadeInUp animate__delay-3s" onclick="window.location.href='@Url.Page("/Login/Login")'">Voltar para Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
